#app-logo {
  height: 100px;
  width: 100px;
}

body {
  margin: 0;
}

#header {
  display: flex;
  justify-content: space-between;
  background-color: azure;
}

#header ul {
  display: flex;
  padding-left: 0px;
}

#header li {
  padding-right: 50px;
  margin-top: 15px;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
}

#header #appName {
  background-color: rgb(208, 241, 241);
  padding-right: 0;
  margin-right: 90px;
  align-self: flex-start;
}

li:hover {
  transform: scale(1.05, 1.05);
  transition: transform 0.1s ease-in-out;
}

.restaurantContainer {
  display: flex;
  flex-wrap: wrap;
}

#cardContainer {
  height: 300px;
  width: 200px;
  margin: 5px;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  cursor: pointer;
}

#cardContainer:hover {
  transform: scale(0.95, 0.95);
  transition: transform 0.2s ease-in-out;
}

#cardLogo {
  background-size: contain;
  height: 160px;
  width: 200px;
  border-radius: 10px;
}

#restDetails {
  position: relative;
  left: 10px;
}

h4 {
  margin: 3px;
  padding-bottom: 2px;
}

span {
  position: relative;
  left: 5px;
  bottom: 4px;
}

p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0.7;
  font-size: 17px;
  padding-bottom: 3px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

#top-rated-btn {
  margin: 15px 0;
  padding: 5px;
  font-size: 15px;
  background-color: #22611a;
  color: #fff;
  border: none;
  cursor: pointer;
}

.shimmer-content {
  height: 200px;
  width: 200px;
  margin: 5px;
  border-radius: 10px;
  background-color: #ccc;
}

.body-container {
  min-height: 68vh;
}

.style-btn {
  height: 30px;
  width: 100px;
  margin-right: 20px;
  margin-top: 15px;
  padding: 0px 10px;
  border: none;
  background-color: rgb(175, 240, 234);
  cursor: pointer;
}

.filter {
  display: flex;
}

.search-btn {
  margin-left: 10px;
}

.search-input {
  height: 22px;
  margin-left: 5px;
}

.restaurant-info {
  display: flex;
  justify-content: space-between;
  width: 65%;
  font-family: Arial, Helvetica, sans-serif;
}

.menu-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-menu-header {
  margin-top: 62px;
}

a:link,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  color: #000;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.menu-button {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.95;
}

.menu-description {
  white-space: wrap;
  max-width: 90%;
  opacity: 0.6;
}

.right-menu-content img {
  height: 120px;
  width: 120px;
  border-radius: 7px;
}

.menu-category {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.menu-line {
  opacity: 0.6;
}

.user {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
  width: fit-content;
}

.about {
  display: flex;
}
